
* {
	box-sizing: border-box;
}
body {
	background-color: white;
	color: black;
	text-align: center;
}
header {
	border: black solid 1px;
	text-align: center;
	background-color: #191919;
	color: white;

}

/*****************************************
Form Elements
*******************************************/
form button {
	margin: 20px 0px;
}

.user-input [type='radio'] {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.genre-radio-button {
	display: inline-block;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #B0CDD9;
	margin: 5px;
	min-width: 130px;
	/*min-height: 185px;*/
	border-radius: 10%;
	vertical-align: middle;
}

.genre-selected {
	border: 3px solid navy;
}

span {
	font-size: 4em;
}


/*****************************************
Form Elements after user inputs chosen
*******************************************/
.inputs-chosen {
	display: inline-block;
	vertical-align: text-top;
	padding-left: 20px;
	padding-right: 20px;
}

.inputs-chosen.chosen-genre-wrapper{
	height: 50%;
}

.edit, .submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*****************************************
Results Elements
*******************************************/
.movie-results, .restaurant-results {
	border-radius: 5%;
	height: 300px;
	overflow:hidden;
	text-align: center;
	margin: 5px;

}
/*.restaurant-results h4 {
	margin-top: 75%;
}*/

.movie-results h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.movie-results {
	background-color: #BCC9A5; 
}

.restaurant-results {
	background-color: #72A7C2;
}

.movie-result-section, .restaurant-result-section {
	width:45%;
	display: inline-block;
	max-width: 300px;
}

.results-section {
	margin: 5px;
	height: 900px;
	overflow: auto;
}

.result-selected {
	border: 3px solid navy;
}

.select-error {
	color: red;
}

.find-out-more {
	margin-bottom: 40px;
}

/*****************************************
Modal
*******************************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
   	left:0;
   	top:0;
   /* left: 50%;
    top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*colors

#191919
8C606D
456575
F19568
6C855E
F5BF66
*/
